#statusBar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
  border-top: 2px solid #ccc;
  display: none; /* Inicialmente escondido */
  z-index: 999;
}
